node_modules
# Keep environment variables out of version control
.env
.cheatsheet
public/*
tmp
thunder-tests/thunderActivity.db

# Elastic Beanstalk Files
.elasticbeanstalk/
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions
